body > div#first {
    height: 900px;
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right; /* aligns item top to bottom on column*/
    align-items: center;  /* aligns items left to right  on column*/
    padding: 8px;
    background-color: black;
}

h1#title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    text-shadow: 10px 20px 5px red;
}
button#start {
    color: red;
    text-transform: uppercase;
    font-size: 70px;
    background: transparent;
}
body > div#story {
    height: 900px;
    background-color: black;
    display: none;
    /* display: flex; */
    flex-direction: column;
}
.story-text {
    flex: 1;
    text-align: left;
    font-size: 3em;
    color: white;
    animation-name: story-paragraph;
    animation-duration: 15s;
    /* margin-top: 900px; */
}
@keyframes story-paragraph {
    from {margin-top: 900px;}
    to {margin-top: 0;}
}
.story-animation {
    display: none;
    /* flex: 1; */
    background-color: black;
}
body > div#create {
    height: 900px;
    display: none;
    flex-direction: row;
    padding: 2px;
}
div.create-char {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: black;
    line-height: 15px;
}
.create-char > h2 {
    font-size: 50px;
    text-align: center;
    color: white;
}
.create-char > h4 {
    font-size: 30px;
    margin: 50px 0px 20px 0;
    text-align: center;
    color: white;
}

.char-gender {
    display: flex;
    border: solid black;
    margin-bottom: 20px;
    
}
.char-gender > button {
    flex: 1;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}
.char-race{
    display: flex;
    border: solid black;
    margin-bottom: 20px;
}
.char-race > button {
    flex: 1;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}
.char-class {
    display: flex;
    border: solid black;
    margin-bottom: 20px;
}
.char-class > button {
    flex: 1;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}
.create-char > label {
    margin-top: 110px;
    font-size: 3em;
    text-align: center;
    color: white;
}
.create-char > input:nth-of-type(1){
    border: double;
    background-color: white;
    text-align: center;
    color: black;
    height: 30px;
    font-size: 1em;
    margin: 10px 80px;
}
.create-char > input:nth-of-type(2){
    margin-top: 120px;
    font-size: 3em;
    color: white;
    background-color: transparent;
}

div#char-image {
    flex: 1;
    background-color: grey;
    background-image: url("https://i.imgur.com/TOY8wCY.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.male-elf-range {
    display: none;
    position: absolute;
    top: 150px;
    left: 900px;
}
.female-human-range {
    display: none;
    position: absolute;
    height: 700px;
    left: 610px;
    bottom: 150px;
}

body > div#main {
    height: 900px;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://i.imgur.com/abw3DhZ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.character {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content:flex-end;
}
div.buttons {
    display: flex;;
    justify-content: stretch;
    background-color: black;
    padding: 3px 0px;
}
div.store {
    display: none;
    height: 600px;
    width: 900px;
    flex-direction: column;
    border: solid black;
    background-color: rgba(200, 200, 200, 0.8);
    background-image: url(https://i.imgur.com/1FwyJIz.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    margin: 0 540px;
}
.store > button {
    background-color: black;
    color: red;
    width: 50px;
    margin-right: 832px;
}
.store > h2 {
    flex: 1;
    color: black;
    font-size: 3em;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}
.store > #atk-potion {
    flex: 2;
    display: flex;
    gap: 10px;
}
#atk-potion > img {
    height: 235px;
}
#atk-potion > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#atk-potion > div >  p {
    color: black;
    font-size: x-large;
    margin: 10px 0;
}
#atk-potion > div > button {
    background-color: black;
    color: white;
    font-size: 1.5em;
    flex-grow: .5;
    width: 100px;
    padding: 0;
}
#atk-potion > div > button:hover {
    color: red
}
.store > #def-potion {
    flex: 2;
    display: flex;
    gap: 10px;
}
#def-potion > img {
    height: 235px;
    width: 154px;
}
#def-potion > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#def-potion > div > p {
    color: black;
    font-size: x-large;
    margin: 10px 0;
}
#def-potion > div > button {
    background-color: black;
    color: white;
    font-size: 1.5em;
    flex-grow: .5;
    width: 100px;
    padding: 0;
}
#def-potion > div > button:hover {
    color: red;
}
div.fight {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    background-color: white;
    height: 600px;
    margin: 0 100px;
}
.fight > button {
    background-color: black;
    color: red;
    width: 50px;
}
.fight > div.fight-animation{
    border: solid;
    flex: 1;
}
.elf-range-attack {
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 375px;
    left: 115px;
}
.arrow {
    display: none;
    height: 25px;
    width: 110px;
    position: absolute;
    bottom: 395px;
    left: 425px;
    opacity: 0;
}
.arrow-attack {
    animation-name: arrow-animation;
    animation-duration: 1s;
}
@keyframes arrow-animation {
    0% {left: 400px;}
    5%{opacity: 1;}
    90% {opacity: 1;}
    100% {left: 1580px; opacity: 0;}
}
.elf-range-enemy {
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 375px;
    left: 1600px;
    transform: rotateY(180deg);
    filter: hue-rotate(110deg);
}
.arrow-enemy {
    display: none;
    height: 25px;
    width: 110px;
    position: absolute;
    bottom: 395px;
    left: 1480px;
    opacity: 0;
    transform: rotateY(180deg);
    filter: hue-rotate(110deg);
}
.arrow-dmg {
    animation-name: enemy-arrow-animation;
    animation-duration: 1s;
}
@keyframes enemy-arrow-animation {
    0% {left: 1000px;}
    5%{opacity: 1;}
    90% {opacity: 1;}
    100% {left: 300px; opacity: 0;}
}
.elf-magic-attack {
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 375px;
    left: 115px;
}
.spell {
    display: none;
    width: 90px;
    position: absolute;
    bottom: 395px;
    left: 425px;
    opacity: 0;
}
@keyframes spell-animation {
    0% {left: 400px;}
    5%{opacity: 1;}
    90% {opacity: 1;}
    100% {left: 1600px; opacity: 0;}
}
.player-spell-animation {
    animation-name: spell-animation;
    animation-duration: 1s;
}
.elf-magic-enemy {
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 375px;
    left: 1600px;
    transform: rotateY(180deg);
    filter: hue-rotate(110deg);
}
@keyframes enemy-spell-animation {
    0% {left: 1500px; filter: hue-rotate(110deg);}
    5% {opacity: 1;}
    90% {opacity: 1;}
    100% {left: 300px; opacity: 0; filter: hue-rotate(110deg);}
}
.enemy-spell-animation{
    animation-name: enemy-spell-animation;
    animation-duration: 1s;
}
.fight > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 10vh;
    background-color: rgb(250, 250, 250, .8);   
}
.fight > div:nth-of-type(2) > .fight-text {
    overflow: auto;
}
#first-text {
    list-style-type: none;
}
#second-text {
    font-size: 1.5em;
}
.fight > div:nth-of-type(2) > button {
    color: white;
    font-size: 1.5em;
    background-color: black;
    text-transform: uppercase;
}
.fight > div:nth-of-type(2) > button:hover {
    color:red;
}

div.eat {
    display: none;
    height: 600px;
    width: 900px;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    background-color: white;
    margin: 0 100px;
}
.eat > button {
    background-color: black;
    color: red;
    width: 50px;
}
.eat > div:nth-of-type(1) {
    flex: 1;
}
.eat > div:nth-of-type(2) {
    flex: 1;
    background-color: rgba(0,0,0,.8);
    overflow: auto;
}
#eat-list {
    list-style-type: none;
    color: white;
    text-align: center;
}
.eat > div > #eat-text {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

div.work {
    display: none;
    height: 600px;
    width: 900px;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    background-color: white;
    margin: 0 100px;
}
.work > button {
    background-color: black;
    color: red;
    width: 50px;
}
.work > div:nth-of-type(1) {
    flex: 1;
}
.work > div:nth-of-type(2) {
    flex: 1;
    background-color: rgba(0,0,0,.8);
    overflow: auto;
}
#work-list {
    list-style-type: none;
    color: white;
    text-align: center;
}
.work > div >  #work-text {
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#store{
    flex: 2;
    color: white;
    background-color: transparent;
    font-size: 250%;
    text-transform: capitalize;
    padding: 10px 0px;
}
#fight {
    flex: 4;
    color: white;
    background-color: transparent;
    font-size: 250%;
    text-transform: capitalize;
}
#eat {
    flex: 1;
    color: white;
    background-color: transparent;
    font-size: 150%;
    text-transform: capitalize;
    background-color: transparent;
}
#work {
    flex:1;
    color: white;
    background-color: transparent;
    font-size: 150%;
    text-transform: capitalize;
}
.display{
    display: inline-block!important;
}
.pop-up {
    display: flex!important;
}